@tailwind base;

@tailwind components;

@tailwind utilities;

.dark-mode {
  --color-primary: #9e3035;
  --color-primary--muted: rgba(158, 48, 53, 0.3);

  --color-bg-primary: #292f35;
  --color-bg-secondary: #222831;
  --color-bg-ternary: #84161b;
  --color-bg-inverse: #ffffff;

  --color-text-primary: #ffffff;
  --color-text-secondary: #f7fafc;
  --color-text-ternary: #292f35;
  --color-text-inverse: black;

  --color-border-primary: #ffffff;
  --color-border-secondary: #222831;
  --color-border-inverse: black;
}

.light-mode {
  --color-primary: #84161b;
  --color-primary--muted: rgba(132, 22, 27, 0.3);

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-bg-ternary: #84161b;
  --color-bg-inverse: black;

  --color-text-primary: black;
  --color-text-secondary: #222831;
  --color-text-ternary: #ffffff;
  --color-text-inverse: #ffffff;

  --color-border-primary: black;
  --color-border-secondary: #f9f9f9;
  --color-border-inverse: #ffffff;
}

.theme-transition {
  transition: color 0.2s ease-out, background 0.2s ease-out;
}

a:not(.no-highlight-anchor) {
  text-decoration: none;
  background-image: linear-gradient(var(--color-primary--muted), var(--color-primary--muted)),
    linear-gradient(var(--color-primary), var(--color-primary));
  background-size: 100% 0.25vmin, 0 0.25vmin;
  background-repeat: no-repeat;
  color: var(--color-primary);
  -webkit-transition: background-size 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: background-size 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  background-position: 0 100%;
}

a:not(.no-highlight-anchor):hover {
  background-size: 100% 0.25vmin;
}

ul {
  list-style: circle;
}

ol {
  list-style: lower-alpha;
}
