@tailwind base;

@tailwind components;

@tailwind utilities;

.dark-mode {
  --color-primary: #9e3035;
  --color-primary--muted: rgba(158, 48, 53, 0.3);

  --color-bg-primary: #292f35;
  --color-bg-secondary: #222831;
  --color-bg-ternary: #84161b;
  --color-bg-inverse: #ffffff;

  --color-text-primary: #ffffff;
  --color-text-secondary: #f7fafc;
  --color-text-ternary: #292f35;
  --color-text-inverse: black;

  --color-border-primary: #ffffff;
  --color-border-secondary: #222831;
  --color-border-inverse: black;
}

.light-mode {
  --color-primary: #84161b;
  --color-primary--muted: rgba(132, 22, 27, 0.3);

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;
  --color-bg-ternary: #84161b;
  --color-bg-inverse: black;

  --color-text-primary: black;
  --color-text-secondary: #222831;
  --color-text-ternary: #ffffff;
  --color-text-inverse: #ffffff;

  --color-border-primary: black;
  --color-border-secondary: #f9f9f9;
  --color-border-inverse: #ffffff;
}

body {
  --space: 1.5rem;
}

@media (min-width: 768px) {
  body {
    --space: 3.5rem;
  }
}
